PORT=3000

NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/local

JWT_SECRET=

JWT_EXPIRES_IN=15m

JWT_REFRESH_SECRET=

JWT_REFRESH_EXPIRES_IN=7d

REDIS_URL=redis://localhost:6379

ELASTICSEARCH_NODE=http://localhost:9200

MAIL_HOST=smtp.gmail.com

MAIL_PORT=587

MAIL_USER=tester@gmail.com

MAIL_PASSWORD=bnjv ykjp szdr aarg

MAIL_FROM=Shop Sphere <tester@gmail.com@gmail.com>

STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxx

STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxx